/Lab 2/nbproject/private/
/Lab 2/build/
/Lab 1/build/
/Lab 3/nbproject/private/
/Lab 3/build/
/Lab_4_Skeleton/nbproject/private/
/Lab_4_Skeleton/build/
/Lab 6/nbproject/private/
/Lab 6/build/
/Lab_6_Skeleton/build/
/Lab_6_Skeleton/nbproject/private/
